@layout LoginLayout
@page "/not-authorized"
@using Client.Components.Shared
<PageTitle>@localizer["NotAuthorized"]</PageTitle>

<div class="d-flex flex-column justify-content-center align-items-center vh-100">

    <h3>@localizer["NotAuthorized"]</h3>

    <p>
        <span class="badge bg-secondary">@localizer["NoPermission"]</span>
    </p>
</div>
