@inject NavigationManager Navigation
@using System.Globalization

<div class="m-3">
    <select @bind="Culture" class="form-select">
        <option value="en-US">English</option>
        <option value="pl-PL">Polish</option>
    </select>
</div>


@code
{
  
}